# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/
dist/

# env（含敏感 key，勿提交）
.env
.env*.local
.env.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
